
<header></header>

<ion-content padding>
  <post-feed></post-feed>
</ion-content>
<!-- <ion-content class="bg-muted">
  <div class="m-t-sm bg-white" *ngFor="let i of [0,1,2,3,4,5]; let postIndex = index" (click)="goToPost(postIndex)">
    <ion-row class="padder-sm b-b b-light" *ngIf="postIndex % 2 == 1">
      <ion-col align-self-center>
        <div class="text-muted text-sm">
          <span class="font-bold color-black">Blake Lively</span> commented on this
        </div>
      </ion-col>
      <ion-col col-auto>
        <ion-icon class="text-2x text-muted" name="more" (click)="presentPopover($event)"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row class="wrapper-sm">
      <ion-col col-auto>
        <ion-avatar item-start>
          <user-avatar [sizeClass]="'thumb-sm'"></user-avatar>
        </ion-avatar>
      </ion-col>
      <ion-col class="text-ellipsis-flex">
        <div class="l-h">
          <div class="font-bold text-ellipsis">Ryan Reynold {{postIndex}}</div>
          <div class="text-sm text-muted text-ellipsis">VP of Human Resource, SML</div>
          <div class="text-sm text-muted">2d · Edited</div>
        </div>
      </ion-col>
      <ion-col col-auto>
        <ion-icon class="text-2x text-muted" name="more" (click)="presentPopover($event)"></ion-icon>
      </ion-col>
    </ion-row>

    <div class="post-caption padder m-b-sm pos-rlt l-h">
      The site has an Alexa Internet ranking as the 20th most popular website (October 2016). Based in the United States, the site is, as of 2013, available in 24 languages,[11] including Arabic, Chinese, English, French
      <span class="pos-abt bottom right text-muted padder bg-white">...see more</span>
    </div>

    <post-attachment type="{{postIndex % 2 == 1 ? 'url' : 'image'}}"></post-attachment>

    <div class="padder m-b-sm">
      <div class="b-b b-light">
        <div class="m-t-sm m-b-sm">
          6 Likes · 24 Comments
        </div>
      </div>
    </div>

    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small color="muted">
          <ion-icon name="thumbs-up"></ion-icon>
          <div>Like</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small color="muted">
          <ion-icon name="text"></ion-icon>
          <div>Comment</div>
        </button>
      </ion-col>
      <ion-col center text-center>
        <button ion-button icon-left clear small color="muted">
          <ion-icon name="share"></ion-icon>
          <div>Share</div>
        </button>
      </ion-col>
    </ion-row>
  </div>
</ion-content> -->
