page-profile {
  .avatar-raised {
    position: relative;
    margin-top: -74px;
  }

  .has-avatar-raised {
    margin-top: 74px;
  }

  .bg-primary-lighter {
    background: #728999;
  }

  .bg-primary-darker {
    background: #004471;
    &.color-white {
      .text-muted {
        color: white !important;
      }

      .b-light {
        border-color: rgba(255, 255, 255, 0.05);
      }
    }
  }

  .profile-cover {
    background-size: cover;
    background-repeat: no-repeat;
    margin: -8px; // equal to $sizeSM
    margin-bottom: -100px;
    height: 140px;
    .gradient-opacity {
      height: 100%;
      width: 100%;
      background-image: -webkit-gradient(
        linear,
        left 80%,
        left 100%,
        from(rgba(40, 50, 60, 0)),
        to(rgba(#eeeeee, 1))
      );
      background-image: -webkit-linear-gradient(
        top,
        rgba(40, 50, 60, 0),
        80%,
        rgba(#eeeeee, 1),
        100%
      );
      background-image: -moz-linear-gradient(
        top,
        rgba(40, 50, 60, 0) 80%,
        rgba(#eeeeee, 1) 100%
      );
      background-image: linear-gradient(
        to bottom,
        rgba(40, 50, 60, 0) 80%,
        rgba(#eeeeee, 1) 100%
      );
      background-repeat: repeat-x;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0028323c', endColorstr='#7f28323c', GradientType=0);
      filter: none;
    }
  }

  .profilebutton {
    z-index: 2;
    position: absolute;
    left: 22%;
    top: 8%;
    margin: auto;
  }
  .profilepic {
    border: 1px solid #000;
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  .profilepic-border {
    position: relative;
    background: #a3a3a3;
  }
}
