/* Chat bubble v1.0.0 */

$myMsgColor: color($colors, primary);
$otherMsgColor: #E6E6E6;
$tailSize: 10px;
$greyColor: #8E8E90;

.chat-list {
  .chat-item {
    margin-bottom: 8px;
  }

  .chat-timestamp {
    text-align: center;
    font-size: .9em;
    padding: 8px;
    color: $greyColor;
  }

  .chat-item-status {
    font-size: .8em;
    color: $greyColor;
  }

  .chat-avatar {
    margin-right: 8px;
    align-self: flex-end;
    width: 24px;
    height: 24px;
    img {
      display: inline-block;
      width: 100%;
      border-radius: 50%;
    }
  }

  .chat-item-content {
    display: flex;
    flex-direction: row;
  }

  .chat-item-bubble {
    position: relative;
    max-width: 80%;
    margin-bottom: 4px;
    .icon-tail {
      position: absolute;
      top: inherit;
      right: inherit;
      bottom: 6px;
      left: -9px;
      border-bottom: $tailSize solid $otherMsgColor;
      border-right: $tailSize solid $otherMsgColor;
      border-top: $tailSize solid transparent;
      border-left: $tailSize solid transparent;
      border-bottom-left-radius: 6px;
    }

    .chat-body {
      display: inline-block;
      background: $otherMsgColor;
      border-radius: 8px;
      padding: 10px;
      white-space: normal;
      max-width: 100%;
      text-align: left;
      line-height: 1.6em;

      &.photo {
        padding: 0;
      }
    }

    &.bubble-image {
      .icon-tail {
        display: none;
      }
      img {
        width: 180px;
        border-radius: 16px;
      }
    }
  }

  .chat-item {
    &.me {
      text-align: right;
      .icon-tail {
        left: inherit;
        top: inherit;
        right: -9px;
        border-bottom: $tailSize solid $myMsgColor;
        border-right: $tailSize solid transparent;
        border-top: $tailSize solid transparent;
        border-bottom-right-radius: 6px;
      }

      .chat-item-content {
        justify-content: flex-end;
      }

      .chat-body {
        background: $myMsgColor;
        color: #fff;
      }
    }
  }

  .chat-item-reaction {
    text-align: center;
    font-size: 1.5em;
    color: $otherMsgColor;
    align-self: center;
    flex-grow: 99;
  }
}

.has-elastic-input .stick-bottom {
  align-self: flex-end;
  margin-bottom: 8px;
}

ion-textarea[fz-elastic] .text-input {
  margin: 0 4px!important;
  padding-top: 12px!important;
  &.text-input-md {
    padding-top: 12px!important;
  }
}
