page-search {
  .search-shortcut {
    border: 1px solid color($colors, primary);
    border-radius: 50%;
    width: 54px;
    height: 54px;
    line-height: 54px;
    display: inline-block;
    font-size: 30px;
    color: color($colors, primary);
    margin-bottom: 4px;
  }
}
