<!-- <ng-container *ngFor="let skill of profileskills; let i = index">
  <ion-row class="wrapper-sm b-b b-light" *ngIf="i<6">
    <ion-buttons *ngIf="showEdit" end>
      <button ion-button icon-only clear (click)="goToProfileSkillEdit(user)">
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-buttons>

    <ion-col col-auto>
      <ion-avatar item-start>
        <img class="thumb-sm" src="assets/img/company.png">
      </ion-avatar>
    </ion-col>
    <ion-col class="text-ellipsis-flex">
      <div class="l-h">
        <div class="font-bold">{{ skill.name }}</div>
      </div>
    </ion-col>
  </ion-row>
</ng-container> -->
<ion-item-sliding *ngFor="let skill of profileskills; let postIndex = index">
  <ion-item detail-push>
    <ion-avatar item-start>
      <img class="thumb-sm" src="assets/img/company.png">
    </ion-avatar>
    <div class="l-h">
      <div class="font-bold">{{ skill.name }}</div>
    </div>
  </ion-item>
  <ion-item-options>
    <button ion-button icon-only (click)="goToProfileSkillEdit(skill)" color="secondary">
      <ion-icon name="md-paper"></ion-icon>
    </button>
    <button ion-button icon-only (click)="deleteSkill(skill)" color="danger">
      <ion-icon name="md-trash"></ion-icon>
    </button>
  </ion-item-options>
</ion-item-sliding>