<ng-container *ngIf="(auth.user | async) || {} as user">
  <ion-card *ngFor="let job of jobs; trackBy: trackByFn" (click)="goToJob(job)">
    <ion-item>
      <ion-avatar item-left>
          <img [src]="job.authorImage || 'assets/img/default-avatar.jpg'"/>
      </ion-avatar>
      <h2 style="white-space: normal;">{{ job.fields.Title }}</h2>
      <p>door {{ job.displayName }}</p>
      <p>op {{ job.createDate }}</p>
    </ion-item>
    <ion-card-content>
      {{ job.fields.Bericht | shorten: 120: '...' }}
    </ion-card-content>
  </ion-card>
</ng-container>