<ion-list class="m-b-none">
  <ion-item>
    <ion-icon name="share" item-start></ion-icon>
    <h3>Share via</h3>
  </ion-item>
  <ion-item>
    <ion-icon name="close-circle" item-start></ion-icon>
    <h3>Hide this post</h3>
    <div class="text-sm text-muted">I don't want to see this post in my feed</div>
  </ion-item>
  <ion-item>
    <ion-icon name="flag" item-start></ion-icon>
    <h3>Report this post</h3>
    <div class="text-sm text-muted">This post is offensive or the account is hacked</div>
  </ion-item>
</ion-list>
